<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World</title>
  </head>
<body>
  <%Article.all.each do |article|%>
    <%=article.title  %><br>
    <%end%>
    <p> test</P
</body>




</html>