<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Article</title>
  </head>
  <body>
    <h1>Submit New Article</h1>

  <form method="post" action="/articles">
    Article Title: <input type="text" name="title"><br>
    <br>
    <p>Enter your article:</p>
    <textarea name="content"></textarea>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>


  </body>
</html>